.logo {
  color: #fff;
  height: 32px;
  margin: 16px;
}

.logo img {
  width: 32px;
  margin-right: 10px;
}

.logo.collapsed img {
  margin-left: 6px;
}

.site-layout .site-layout-background {
  background: #fff;
}